/* 导入 base.css */
@import "./base.css";

/* 导入 LXGWWenKaiMonoLite-Regular.woff2 */
@font-face {
    font-family: "LXGWWenKaiMonoLite";
    src: url("./LXGWWenKaiMonoLite-Regular.woff2") format("woff2");
}

* {
    font-family: LXGWWenKaiMonoLite, sans-serif;
}

.selenium-custom-input,
input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    transition: all 0.2s ease-in-out;
    &:focus {
        border: 1px solid #0000AA;
    }
}

.selenium-custom-btn,
input[type="button"],
input[type="submit"],
button {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        border: 1px solid #0000AA;
    }
}